
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
 .nav {
   width: 100%;
   margin: 0px auto;
 }
 .nav ul {
   width: 100%;
   display: block;
   line-height: 50px;
 }
 .nav ul li {
   display: inline-block;
   float: left;
   width: 25%;
   border-left: 1px solid #333333;
   list-style: none;
 
 }
 .nav ul li:last-child {
  border-right: 1px solid #333333;

}
 .nav ul li a {
  color: #fff;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}
